<div class="app-wrapper">
  <header class="app-title">
    <a class="logo" routerLink="/" href="#">
      <img src="assets/images/logo.png" alt="It's Near">
    </a>
    <div class="actions">
      <button
        class="hollow button"
        *ngIf="!auth.isAuthenticated()"
        (click)="auth.login()">
        Log In
      </button>

      <button
        class="hollow button"
        *ngIf="auth.isAuthenticated()"
        (click)="auth.logout()">
        Log Out
      </button>
    </div>
  </header>
  <main class="container">
  </main>
</div>
